<a href="https://colab.research.google.com/github/Dipesh0987/Concepts-and-Technologies-of-AI/blob/main/Dipesh_Kishor_Chhetri_worksheet3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practice from the worksheet

In [8]:
import pandas as pd
dataset = pd.read_csv("/content/drive/MyDrive/bank.csv")
# dataset.head()
dataset.tail()
# dataset.info()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [13]:
data = {
    "Name":["Dipesh", "Kishor", "Chhetri"],
    "Roll":[10, 20, 30],
    "salary":[10000, 20000, 30000]
}
df = pd.DataFrame(data, index=['a', 'c', 'b'])
print(df)
df['salary']

      Name  Roll  salary
a   Dipesh    10   10000
c   Kishor    20   20000
b  Chhetri    30   30000

a    10000
c    20000
b    30000
Name: salary, dtype: int64